.cart-title{
    background-color: #79a32e;
    border-top-left-radius: 10px;
}
.table-giohang tr{
    height: 40px;
    
}
.table-giohang tr th{
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    line-height: 30px;

}
.table-money{
    border: 2px solid #79a32e;
}
.cart-img img{
    width: 100%;
}
.cart-product-name{
    width: 60%;
}